# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
ai_core/venv/

# IDEs
.vscode/
.idea/

# Secret files
.env

# Project Artifacts (Generated)
documentation/
Technical_manifest.md
ai_core/training_scores.txt
ai_core/learning_curve.png
frontend_implementation_plan.md
hardware_implementation_plan.md
intelli_flow_master_plan.md

# ML Models (Ignore all weights to prevent repo bloat)
models/
ai_core/models/
*.weights.h5
*.weights.h5.bak
*.json